@layer components {
  .btn {
    @apply inline-block text-base text-center font-semibold rounded-lg py-3 px-5 uppercase text-primary bg-white no-underline;
    &:hover {
      @apply bg-primary-800 text-white;
    }

    &.btn--active {
      &:hover {
        @apply bg-gray-700;
      }
    }
    &.btn--disabled,
    &[disabled='true'],
    &:disabled {
      @apply text-gray-400 cursor-not-allowed;
    }
  }
}
