@layer base {
  input,
  textarea {
    color: var(--text-secondary);
    border: var(--border-color) 1px solid;
    background-color: var(--color-white);
    @apply rounded-lg opacity-80 font-normal text-base w-full p-4 mb-4;
  }
}
